.imgCard {
    position: relative;
    width: 100%;
    height: 200px;
}

.imgSobreCard {
    position: relative;
    top: -55px;
    left: 0px;
}

.musicoImg {
    width: 110px;
    border-radius: 25%;
}

.nombreMusico {
    font-size: 25px;
    font-weight: bold;
}

// .tituloCol {
//     color: var(--ion-color-primary);
// }