.poster-detalle-sobre {
    position: relative;
    top: -75px;
    left: 125px;
    margin-bottom: -75px;
}

.musicoImg {
    width: 125px !important;
    height: 125px !important;
    border-radius: 50% !important;
    border: 50px black;
}

.tituloCol {
    color: var(--ion-color-primary);
}