<app-header titulo="Actuación"></app-header>

<ion-content>
    <img src="assets/img/cardBckgrd.jpg" class="imgActuacion" />
    <div class="card-title">{{ actuacion.tipo }}</div>
    <ion-grid>
        <ion-row>
            <ion-col size="12" class="ion-text-center">
                <ion-chip>
                    <ion-icon name="pin" color="primary"></ion-icon>
                    <ion-label>{{ actuacion.lugar }}</ion-label>
                </ion-chip>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" class="ion-text-center">
                <ion-label class="fechaActuacion">{{ actuacion.fecha | date: 'dd/MM/yyyy' }}</ion-label>
            </ion-col>
            <ion-col size="12" class="ion-text-center">
                <ion-label class="notasActuacion">{{ actuacion.notas }}</ion-label>
            </ion-col>
        </ion-row>
        <hr color="black">
        <ion-row>
            <ion-col size="12">
                <ion-list lines="none">
                    <ion-list-header>
                        <ion-label color="primary">
                            <h1>Músicos:</h1>
                        </ion-label>
                    </ion-list-header>
                    <ion-item *ngFor="let musico of listaMusicos" (click)="musicoDetail(musico)">
                        <ion-avatar slot="start">
                            <img [src]="musico.img | imagen: tipo" class="imgAvatar">
                        </ion-avatar>
                        <ion-label>
                            <h2><strong>{{ musico.nombre }} {{ musico.apellido }}</strong></h2>
                            <p>{{ musico.instrumento }}</p>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
    <!-- <ion-card>
        <ion-card-content>
            <ion-list lines="none">
                <ion-list-header>
                    <ion-label>
                        <h1>Músicos:</h1>
                    </ion-label>
                </ion-list-header>
                <ion-item *ngFor="let musico of listaMusicos" (click)="musicoDetail(musico)">
                    <ion-avatar slot="start">
                        <img [src]="musico.img | imagen: tipo" class="imgAvatar">
                    </ion-avatar>
                    <ion-label>
                        <h3><strong>{{ musico.nombre }} {{ musico.apellido }}</strong></h2>
                        <p>{{ musico.instrumento }}</p>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card> -->
</ion-content>
<ion-footer no-border>
    <ion-button (click)="closeModal()" color="primary" size="small" fill="solid" expand="full">Cerrar</ion-button>
</ion-footer>