<app-header titulo="Actuaciones"></app-header>

<ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="lista" checked>
        <ion-label>Lista</ion-label>
    </ion-segment-button>
    <ion-segment-button value="calendario">
        <ion-label>Calendario</ion-label>
    </ion-segment-button>
</ion-segment>

<ion-content>
    <app-lista-actuaciones *ngIf="segSelected === 'lista'" [actuaciones]="actuaciones"></app-lista-actuaciones>

    <app-calendario-actuaciones *ngIf="segSelected === 'calendario'" [actuaciones]="actuaciones"></app-calendario-actuaciones>

    <ion-fab *ngIf="segSelected === 'lista'" vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button color="primary" (click)="newActuacion()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>