ion-slides,
ion-slide {
    width: 100%;
    height: 100%;
}

ion-slide::after {
    content: "";
    background: url('../../../assets/img/homeBkgrd.jpg') no-repeat fixed center;
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.logoEzpelur {
    width: 300px !important;
}